### Imports

In [1]:
import pandas as pd 
import numpy as np

### Paths and Reading data

In [2]:
path = "./death_row_inmates_Texas.csv"

In [9]:
df = pd.read_csv(path)

In [10]:
df.head()

,Execution,Last Name,First Name,TDCJNumber,Age,Date,Race,County,Last Statement
0,570,Wardlow,Billy,999137,45,7/8/2020,White,Titus,decline
1,569,Ochoa,Abel,999450,47,2/6/2020,Hispanic,Dallas,"Yes sir. I would like to thank God, my dad, m..."
2,568,Gardner,John,999516,64,1/15/2020,White,Collin,"Thank you thank you where's the family, ok I ..."
3,567,Runnels,Travis,999505,46,12/11/2019,Black,Potter,decline
4,566,Hall,Justen,999497,38,11/6/2019,White,El Paso,"Yeah, I want to address the Roundtree family ..."

### Overall stats

In [11]:
print("Total number of statements ",len(df))

Total number of statements  569